@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

a {
    font-size: 30px;
    color: green;
    font-family: 'Sen', sans-serif;
}

a:hover {
    color: lime;
    text-decoration: none;
}

img {
    width: 300px;
    margin: 30px;
}

img:hover {
    width: 400px;
    margin: 0;
}